.hero__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
  height: 1000px;
  padding-bottom: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/hero/eagle.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url('../images/hero/eagle@2x.jpg');
  }
}

.hero__box {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  color: $color-light-main;
  text-align: center;
}

.hero__subtitle {
  font-family: $font-family-secondary;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 42px;
}

.hero__title {
  font-family: $font-family-accent;
  font-size: 150px;
  text-transform: uppercase;
  margin-bottom: 104px;
}
