.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224px;
}

.social__item {
  background-color: $color-accent-secondary;
  &:not(:last-child) {
    border-right: 1px solid $color-accent-primary;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  color: $color-accent-primary;
  transition: color $time-main $timing-function-main,
    background-color $time-main $timing-function-main;

  &:hover,
  &:focus {
    background-color: $color-accent-primary;
    color: $color-light-main;
    opacity: 1;
  }
}

.social__icon {
  fill: currentColor;
}
