// *=============COLORS=============*//
$color-light-main: #ffffff;
$color-dark-main: #333333;
$color-dark-secondary: #999999;
$color-accent-primary: #f38181;
$color-accent-primary-alfa: rgba(243, 129, 129, 0.9);
$color-accent-secondary: #fce38a;
$color-accent-secondary-alfa: rgba(252, 227, 138, 0.9);
$color-accent-neutral: #95e1d3;
$color-footer-border: #e5e5e5;
$color-input-border: #e7e7e7;
$color-input-placeholder: #cccccc;
$color-animation-flash: rgba(255, 255, 255, 0.662);

//*=============FONTS=============*//
$font-family-accent: 'Montserrat', sans-serif;
$font-family-main: 'Roboto', sans-serif;
$font-family-secondary: 'Kaushan Script', cursive;

//*=============TIME=============*//
$timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
$time-main: 250ms;
